{% extends 'layout.html' %}

{% block content %}
<nav>
    <ul>
        <li><a href="{% url 'user_accounts:accounts_index' %}">User Accounts</a></li>
        <li><a href="{% url 'discussion_forum:forum_index' %}">Discussion Forum</a></li>
        <li><a href="{% url 'private_messages:messages_index' %}">Private Messages</a></li>
        <li><a href="{% url 'post_interactions:interactions_index' %}">Post Interactions</a></li>
        <li><a href="{% url 'notifications:notifications_index' %}">Notifications</a></li>
        <li><a href="{% url 'user_badges:badges_index' %}">User Badges</a></li>
    </ul>
</nav>
{% endblock %}
