{% extends 'layout.html' %}

{% block content %}
<nav>
    <ul>
        <li><a href="{% url 'user_accounts:accounts_index' %}">Account</a></li>
        <li><a href="{% url 'private_messages:messages_index' %}">My Messages</a></li>
        <li><a href="{% url 'post_interactions:interactions_index' %}">Post Interactions</a></li>
        <li><a href="{% url 'notifications:notifications_index' %}">My Notifications</a></li>
        <li><a href="{% url 'user_badges:badges_index' %}">My Badges</a></li>
        <li><a href="{% url 'discussion_forum:forum_home' %}">Forum</a></li>
    </ul>
</nav>
{% endblock %}
