{% extends 'layout.html' %}
{% load static %}

{% block content %}
<section class="profile-container">
    <div class="profile-card">
        <img src="{% static 'images/default.jpg' %}" alt="Profile Picture" />

        <table>
            <tr>
                <td><strong>Nickname</strong></td>
                <td>{{ user }}</td>
            </tr>
            <tr>
                <td><strong>First Name</strong></td>
                <td>{{ profile.firstname }}</td>
            </tr>
            <tr>
                <td><strong>Last Name</strong></td>
                <td>{{ profile.lastname }}</td>
            </tr>
            <tr>
                <td><strong>Email</strong></td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td><strong>Bio</strong></td>
                <td class="bio-text">{{ profile.bio }}</td>
            </tr>
        </table>
    </div>
</section>


{% endblock %}
