{% extends 'layout.html' %}
{% load static %}

{% block content %}
<header>
    <h2>My Posts</h2>
</header>

<nav>
    <ul>
        {% for post in posts %}
            <li class="post-card">
                <details>
                    <div class="post-details">
                        <h3>{{ post.topic.title }}</h3> 
                        <p>{{ post.content|truncatechars:200 }}</p> 
                        <a href="{% url 'discussion_forum:post_detail' post_id=post.id %}">Read More</a>
                    </div>
                </details>
            </li>
        {% empty %}
            <li>No posts found.</li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}
